@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

@media(max-width:640px){
    .media{
        display: none;
    }
}
.font{
    /* font-family: "roboto",serif; */
    /* font-size: 16px; */
}
.container{
    width: calc(100% - 20%);
    margin: auto;
}
.heading{
    font-family: "Rochester", serif;
}
/* .image-crop{ width: 300px; height: 337px; object-fit: cover; object-position: -20% 0;
display: flex;
justify-content: end;
height: 300px;
width: 300px;
overflow: hidden;
} */
 .heading{
    font-family: "Rochester", serif;
    font-size: 48px;
    font-weight: 800;
 }
 .plate{
    /* transform: rotate(20deg); */
    transition: width 2s, height 2s, transform 2s;
 }
 .plate:hover{
    transform: rotate(5deg);
 }


@media(max-width:990px){
    .logo{
        display:none;
    }
}