/* Css Flex-Container Properties */
* {
    box-sizing: border-box;
    margin: 0;
}

/* body{
      display: flex;
      flex-direction: column;
  } */
.maincontent {
    display: flex;
    /* width: 1500px; */
    /* height: 700px; */
    margin-inline: auto;
    border: 1px solid black;
    justify-content: flex-start;
    justify-content: center;
    justify-content: flex-end;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    flex-flow: wrap row;

    div {
        /* height: 150px; */
        /* width: 150px; */
        color: white;
        font-size: 30px;
    }

    div:nth-child(1) {
        background-color: blue;
        /* align-self: flex-start; */
        order: 1;
        flex: 1 0 0;
        padding: 10px;
    }

    div:nth-child(2) {
        background-color: green;
        /* align-self: end; */
        order: 2;
        flex: 1 0 0;
        padding: 10px;
    }
}

.maincontent2 {
    display: flex;
    flex-flow: wrap row;
    margin-inline: auto;
    border: 1px solid black;
    font-size: 30px;
    color: white;

    div:nth-child(1) {
        background-color: blue;
        /* align-self: flex-start; */
        flex: 1 0 0;
        padding: 10px;
    }

    div:nth-child(2) {
        background-color: green;
        /* align-self: end; */
        flex: 1 0 0;
        padding: 10px;
    }
}

@media (max-width:220px) {
    .maincontent {
        order: 2;
    }

    .maincontent2 {
        order: 1;
    }

    .box-3 {
        order: 2;
    }

    .box-4 {
        order: 1;
    }
}

.box-1 {
    height: 200px;
    width: 200px;
    box-shadow: 10px 10px 5px black;
    margin-block: 20px;
}

.box-2 {
    height: 400px;
    width: 400px;
    box-shadow: 0px 10px 10px gray;
    margin-block: 20px;
}

.box-3 {
    height: 500px;
    width: 500px;
    box-shadow: 10px 0px 10px black;
    margin-block: 20px;
}

.box-4 {
    height: 600px;
    width: 600px;
    box-shadow: 0px 10px 5px gray inset;
    margin-block: 20px;
}

.box-5 {
    height: 700px;
    width: 700px;
    box-shadow: 10px 10px 5px blue inset, 10px 0px 10px black;
    margin-block: 20px;
}

span svg {
    /* margin-top: 500px; */
    /* font-size: 500px !important; */
    /* height: 100px !important;
      width: 100px; */
}