/* CSS Height / Width / Max-height / Max-width / Min-height / Min-width */
* {
    box-sizing: border-box;
    margin: 0;
}

.image {
    height: 500px;
    width: 500px;
    margin: 20px;
}

.img {
    height: inherit;
    width: inherit;
}

.text {
    height: 500px;
    width: 500px;
    border: 2px solid black;
    margin: 20px;
    padding: 10px;
    text-align: justify;
}