/* @media(max-width:1290px) {
    .container {
        width: calc(100% - 10%);
        margin: auto;
    }

    .container2 {
        width: calc(100% - 10%);
        margin: auto;
    }
} */

@media (max-width:1190px) {
    .container {
        width: calc(100% - 10%);
        margin: auto;
    }

    .container2 {
        width: calc(100% - 10%);
        margin: auto;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;

        nav a {
            padding: 20px 15px;
            color: black;
            font-weight: 500;
            font-size: 16px;
            font-family: "Roboto", serif;
            letter-spacing: 0.5px;
        }

        nav a:nth-child(1) {
            padding-left: 10px;
        }

        .nav-logo {
            display: flex;
            padding: 1.6%;
        }
    }

    .container-space {
        width: 100%;
        height: 50px;
        background-color: #f9e2e2;
    }

    .hero-section {
        background-color: #f9e2e2;
        width: 100%;
        display: flex;
        overflow: hidden;

        .hero-img {
            img {
                max-width: 500px;
                height: auto;
            }
        }

        .hero-heading {
            display: block;
            padding-top: 150px;
            width: 500px;

            h1 {
                color: #db6260;
                font-weight: 600;
                letter-spacing: -3px;
                font-family: "Montserrat", serif;
                font-size: calc(4vw + 2px);
            }

            p {
                font-family: "Roboto", serif;
                font-size: 18px;
                padding-top: 10px;
                padding-bottom: 10px;
                letter-spacing: 1px;
                line-height: 26px;
                color: black;
            }
        }

        .btn-video {
            height: 30px;
            width: 30px;
            border: 1px solid black;
            border-radius: 100%;
            background-color: transparent;
            margin: 10px;
            margin-left: 0;
        }
    }
}



@media (max-width:990px) {

    .navigation {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;

        nav a {
            display: none;
        }

        .nav-logo {
            display: flex;
            padding: 1.6%;
            padding-left: 20px;
        }
    }

    .container {
        width: calc(100% - 10%);
        margin: auto;
    }

    .container2 {
        width: calc(100% - 10%);
        margin: auto;
    }

    .hero-section {
        background-color: #f9e2e2;
        width: 100%;
        display: block;
        text-align: center;

        .hero-img {
            width: calc(100%-1%);

            img {
                width: 100%;
                height: auto;
                padding-top: 60px;
            }
        }

        .hero-heading {
            display: block;
            padding-top: 10px;
            margin: auto;
            text-align: center;
            width: calc(100% - 10%);

            h1 {
                color: #db6260;
                font-size: calc(5vw + 3px);
                font-weight: 600;
                letter-spacing: -3px;
                font-family: "Montserrat", serif;

            }

            p {
                font-family: "Roboto", serif;
                font-size: 18px;
                padding-top: 10px;
                padding-bottom: 10px;
                letter-spacing: 1px;
                line-height: 26px;
                color: black;
            }

            .btn-video {
                height: 30px;
                width: 30px;
                border: 1px solid black;
                border-radius: 100%;
                background-color: transparent;
                margin: 2px;
                margin-left: 0;

                p {
                    display: block;
                    font-size: 5px;

                }
            }
        }
    }
}

@media (max-width:425px) {
    .navigation {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;

        nav a {
            display: none;
        }

        .nav-logo {
            display: flex;
            padding: 1.6%;
        }
    }

    .container {
        width: calc(100% - 10%);
        margin: auto;
    }

    .container2 {
        width: calc(100% - 10%);
        margin: auto;
    }


    .container {
        width: calc(100%-0%);
        padding-left: 0px;
        padding-right: 0px;
    }

    .nav-logo {
        display: flex;
        padding: none;
        /* padding-left: 50px; */
    }

    .hero-section {
        background-color: #f9e2e2;
        width: 100%;
        display: block;
        text-align: center;

        .hero-img {
            width: calc(100%-1%);

            img {
                width: 100%;
                height: auto;
                padding-top: 60px;
            }
        }

        .hero-heading {
            display: block;
            padding-top: 10px;
            margin: auto;
            text-align: center;
            width: calc(100% - 10%);

            h1 {
                color: #db6260;
                font-size: calc(10vw + 2px);
                font-weight: 600;
                letter-spacing: -3px;
                font-family: "Montserrat", serif;

            }

            p {
                font-family: "Roboto", serif;
                font-size: 15px;
                padding-top: 10px;
                padding-bottom: 10px;
                letter-spacing: 1px;
                line-height: 26px;
                color: black;
            }

            .btn-video {
                height: 30px;
                width: 30px;
                border: 1px solid black;
                border-radius: 100%;
                background-color: transparent;
                margin: 2px;
                margin-left: 0;

                p {
                    display: block;
                    font-size: 5px;

                }
            }
        }
    }
}