@media (max-width:1300px) {
    .container {
        width: calc(100% - 10%);
        margin: auto;
    }

    .container2 {
        width: calc(100% - 10%);
        margin: auto;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;

        nav a {
            padding: 20px 15px;
            color: black;
            font-weight: 500;
            font-size: 16px;
            font-family: "Roboto", serif;
            letter-spacing: 0.5px;
        }

        nav a:nth-child(1) {
            padding-left: 10px;
        }

        .nav-logo {
            display: flex;
            padding: 1.6%;
            /* padding-left: 50px; */
        }


    }

    h1 {
        color: #db6260;
        font-size: 30px;
        /* font-weight: 600; */
        /* text-align: left; */
        letter-spacing: -3px;
        font-family: "Montserrat", serif;
    }



    .hero-img {
        img {
            /* padding-top: 100px; */
            max-width: 400px;
            height: auto;
        }
    }


}

@media (max-width:990px) {

    .navigation {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;

        nav a {
            display: none;
        }

        .nav-logo {
            display: flex;
            padding: 1.6%;
            padding-left: 30px;
        }


    }


    .container {
        width: calc(100% - 10%);
        margin: auto;
    }

    .container2 {
        width: calc(100% - 10%);
        margin: auto;
    }

    .hero-section {
        background-color: #f9e2e2;
        width: 100%;
        display: block;
        text-align: center;


        .hero-img {
            img {
                /* padding-top: 100px; */
                max-width: 600px;
                height: auto;
            }
        }

        .hero-heading {
            padding: 20px 50px;

            h1 {
                h1 {
                    color: #db6260;
                    font-size: 40px;
                    font-weight: 500;
                }
            }

            p {
                font-family: Montserrat, sans-serif;
                font-size: 20px;
                padding-top: 15px;
                padding-bottom: 15px;
                color: black;
            }

        }
    }

}

@media (max-width:425px) {
    nav a {
        display: none;
    }

    .container {
        width: calc(100%-0%);
        padding-left: 0px;
        padding-right: 0px;
    }

    .nav-logo {
        display: flex;
        padding: none;
        /* padding-left: 50px; */
    }

}