* {
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

/* common css */
a {
    text-decoration: none;
}


/* header start */

/* navbar start */

.container {
    width: calc(100%-20%);
    padding-left: 100px;
    padding-right: 50px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;

    nav a {
        padding: 20px 30px;
        color: black;
        font-weight: 550;
        font-size: 16px;
    }

    .nav-logo {
        display: flex;
        padding: 2%;
    }

    /* 
    nav a:nth-child(1) {
        padding-left: 200px;
    } */

    nav a:nth-child(5) {
        background-color: #db6260;
        color: white;
        border-radius: 50px;
        font-size: 14px;
        /* padding: 18px 30px; */
    }

    .nav-menu span i {
        font-size: 20px;
    }

    nav a:nth-child(5):hover {
        background-color: black;
        color: white;
        border-radius: 50px;
    }

    .nav-menu span i:hover {
        font-size: 20px;
        color: #db6260;
    }
}



@media(max-width:990px) {
    nav a {
        display: none;
    }
.container{
    width: calc(100%-20%);
    padding-left: 30px;
    padding-right: 30px;
}
    
}
@media(max-width:425px) {
    nav a {
        display: none;
    }
.container{
    width: calc(100%-20%);
    padding-left: 0px;
    padding-right: 0px;
}
    
}