* {
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;

    .box {
        height: initial;
        width: auto;
        margin: 5px;
        justify-content: space-between;
        border: 1px solid transparent;
        padding: 20px 30px;
        /* flex: 1 0; */
        background-color: aqua;
        /* .box-1 { 
            flex: 200px; 
            flex-shrink: 100; 
        } */
    }
}

.head {
    height: auto;
    width: auto;
    display: block;
    justify-content: center;
    border: 1px solid black;
    padding: 20px 30px;
    /* margin: 10px; */
    text-align: center;
    background-color: purple;
    color: white;
    flex-wrap: wrap;
}

h2 {
    margin: 20px 0;
    font-weight: 600;
}