@font-face {
    font-family: 'Twinkle Star';
    src: url('TwinkleStar-Regular.eot');
    src: url('TwinkleStar-Regular.eot?#iefix') format('embedded-opentype'),
        url('TwinkleStar-Regular.woff2') format('woff2'),
        url('TwinkleStar-Regular.woff') format('woff'),
        url('TwinkleStar-Regular.ttf') format('truetype'),
        url('TwinkleStar-Regular.svg#TwinkleStar-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

