* {
    box-sizing: border-box;
    margin: 0%;
}

.container-1 {
    /* height: auto;
    width: auto; */
    text-align: center;
    font-size: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;

    .box-1,
    .box-2,
    .box-3,
    .box-4,
    .box-5 {
        height: 150px;
        width: 150px;
        border: 1px solid transparent;
        margin: 10px;
        text-align: center;
        box-shadow: 10px 10px 10px rgb(20, 19, 19);

    }

    div:nth-child(1) {
        background-color: #ff0080;

    }

    div:nth-child(2) {
        background-color: #e60073;

    }

    div:nth-child(3) {
        background-color: #cc0066;

    }

    div:nth-child(4) {
        background-color: #b30059;


    }

    div:nth-child(5) {
        background-color: #99004d;

    }
}

.container-2 {
    /* height: auto;
    width: auto; */
    text-align: center;
    font-size: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;

    .box-1,
    .box-2,
    .box-3,
    .box-4,
    .box-5 {
        height: 150px;
        width: 150px;
        border: 1px solid transparent;
        margin: 10px;
        text-align: center;
        box-shadow: 10px 10px 10px rgb(20, 19, 19);

    }

    div:nth-child(1) {
        background-color: #ff0080;

    }

    div:nth-child(2) {
        background-color: #e60073;

    }

    div:nth-child(3) {
        background-color: #cc0066;

    }

    div:nth-child(4) {
        background-color: #b30059;


    }

    div:nth-child(5) {
        background-color: #99004d;

    }
}

.container-3 {
    /* height: auto;
    width: auto; */
    text-align: center;
    font-size: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    .box-1,
    .box-2,
    .box-3,
    .box-4,
    .box-5 {
        height: 150px;
        width: 150px;
        border: 1px solid transparent;
        margin: 10px;
        text-align: center;
        box-shadow: 10px 10px 10px rgb(20, 19, 19);

    }

    div:nth-child(1) {
        background-color: #ff0080;

    }

    div:nth-child(2) {
        background-color: #e60073;

    }

    div:nth-child(3) {
        background-color: #cc0066;

    }

    div:nth-child(4) {
        background-color: #b30059;


    }

    div:nth-child(5) {
        background-color: #99004d;

    }
}

.container-4 {
    /* height: auto;
    width: auto; */
    text-align: center;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    .box-1,
    .box-2,
    .box-3,
    .box-4,
    .box-5 {
        height: 150px;
        width: 150px;
        border: 1px solid transparent;
        margin: 10px;
        text-align: center;
        box-shadow: 10px 10px 10px rgb(20, 19, 19);

    }

    div:nth-child(1) {
        background-color: #ff0080;
        flex: 1 0 0;
        order: 5;
    }

    div:nth-child(2) {
        background-color: #e60073;
        flex: 1 0 0;
        order: 4;
    }

    div:nth-child(3) {
        background-color: #cc0066;
        flex: 1 0 0;
        order: 1;
    }

    div:nth-child(4) {
        background-color: #b30059;
        flex: 1 0 0;
        order: 2;
    }

    div:nth-child(5) {
        background-color: #99004d;
        flex: 1 0 0;
        order: 3;
    }
}

.container-5 {
    /* height: auto;
    width: auto; */
    text-align: center;
    font-size: 30px;
    color: white;
    display: flex;

    align-items: flex-start;
    flex-wrap: wrap;

    .box-1,
    .box-2,
    .box-3,
    .box-4,
    .box-5 {
        height: 150px;
        width: 150px;
        border: 1px solid transparent;
        margin: 10px;
        text-align: center;
        box-shadow: 10px 10px 10px rgb(20, 19, 19);

    }

    div:nth-child(1) {
        background-color: #ff0080;
        flex: 1 0 0;
        order: 2;
    }

    div:nth-child(2) {
        background-color: #e60073;
        flex: 1 0 0;
        order: 1;
    }

    div:nth-child(3) {
        background-color: #cc0066;
        flex: 1 0 0;
        order: 5;
    }

    div:nth-child(4) {
        background-color: #b30059;
        flex: 1 0 0;
        order: 3;

    }

    div:nth-child(5) {
        background-color: #99004d;
        flex: 1 0 0;
        order: 4;
    }
}