* {
    margin: 0;
    box-sizing: border-box;
}

.maindiv {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: 100px 400px 100px 100px 100px;

}

.maindiv div {
    text-align: center;
    font-size: 20px;
    padding: 30px;
    color: white;
}

.box-1 {
    background-color: black;
}

.box-2 {
    grid-column-start: 2;
    grid-column-end: 5;
    background-color: red;
}

.box-3 {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: rgb(49, 137, 245);
}

.box-4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: rgb(1, 1, 60);
}

.box-7 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
}

.box-5 {
    grid-row-start: 3;
    grid-row-end: 5;
}

.box-9 {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: rgb(209, 123, 18);
}

.box-6 {
    background-color: rgb(84, 238, 84);
}

.box-8 {
    background-color: green;
}



@media (max-width:770px) {
    .maindiv {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 100px 300px 300px 100px 100px;
        margin: auto;
    }

    .maindiv div {
        text-align: center;
        font-size: 20px;
        padding: 20px;
        color: white;
    }

    .box-1 {
        grid-column-start: 1;
        grid-column-end: 6;
    }

    .box-3 {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 6;
    }

    .box-4 {
        grid-row-start: 3;
        grid-column-start: 2;
        grid-column-end: 6;
    }

    .box-2 {
        grid-row-start: 3;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 2;

    }

    .box-6 {
        grid-row-start: 5;
        grid-column-start: 2;
        grid-column-end: 4;

    }

    .box-8 {
        grid-row-start: 5;
        grid-column-start: 4;
        grid-column-end: 6;

    }
    .box-5{
        display: none;;
    }
    .box-9{
        grid-column-start: 1;
        grid-column-end: 6;
    }

}

@media (max-width:370px) {
    .maindiv {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
        margin: auto;
    }

    .maindiv div {
        text-align: center;
        font-size: 10px;
        padding: 10px;
        color: white;
    }

    
    .box-1 {
        grid-column-start: 1;
        grid-column-end: 6;
    }
    .box-2 {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2;
    }
    .box-3{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 3;
    }
    .box-4{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 4;
    }
    .box-6{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 5;
    }
    .box-8{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 6;
    }
    .box-9{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 7;
    }
}