@font-face {
    font-family: 'Truculenta';
    src: url('Truculenta-Regular.eot');
    src: url('Truculenta-Regular.eot?#iefix') format('embedded-opentype'),
        url('Truculenta-Regular.woff2') format('woff2'),
        url('Truculenta-Regular.woff') format('woff'),
        url('Truculenta-Regular.ttf') format('truetype'),
        url('Truculenta-Regular.svg#Truculenta-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

