// types of variables

// heading variables

$f1: 12px;
$f2: 18px;
$f3: 22px;
$f4: 28px;
$f5: 30px;

// bg-color variable

$bg-1: maroon;
$bg-2: pink;
$bg-3: purple;

// text color variable

$color-1: maroon;
$color-2: pink;
$color-3: purple;
$color-4: white;

// height-width variable

$h1: 200px;
$h2: 300px;
$h3: 400px;
$h4: 500px;
$h5: 600px;